@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');
:root{
  --bg-primary: #181820;
  --bg-secondary: #21212B;
  --color-primary: #fff;
  --color-secondary: #FC76A1;
  /* --color-secondary: #61DAFB; */
  --color-gray: #adaeb5;
  --font-primary: 'Montserrat', sans-serif;
}

/*Globals*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-size: 16px; /*Reset 1rem=16px*/  
  background-color: var(--bg-primary);
  color: var(--color-primary);
  font-family: var(--font-primary);
}
li{
  list-style: none;
}
img{
  max-width: 100%;
}
button{
  background-color: unset;
  border: unset;
  cursor: pointer;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
